<%- include('./src/include/header.ejs') %>

<button class="btn1">click restart</button>
<h1 class="text">SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag.</h1>

<button class="btn2">click restart</button>
<h1 class="text">SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag.</h1>

<button class="btn3">click restart</button>
<h1 class="text">
  SplitText makes it easy to <br>
  break apart the text in an HTML <br>
  element so that each character, word, and/or <br>
  line is wrapped in its own div tag.</h1>

<button class="btn4">click restart</button>
<h1 class="text">SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag.</h1>

<button class="btn5">click restart</button>
<h1 class="text">SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag.</h1>

<button class="btn6">click restart</button>
<h1 class="text">SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag.</h1>

<%- include('./src/include/footer.ejs') %>